#Score {
    width: 150px;
    height: 50%;
    display: flex;
    text-align: center;
    font-weight: bold;
    background-color: #ffffff;
    color: #385783;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 30px;
}


#intro {
    display: flex;
    width: 100%;
    height: 72px;
    margin-top: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#app-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    padding-left: 50px;
    padding-right: 50px;
}

header {
    background-color: #749bc4;
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}


#header_logo {
    height: 80%;
    padding: 15px;
}

#photo-gallery {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    width: 100%;
}

#photo-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    width: 100%;
}  

.team-photo {
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 40%;
}

#team-img {
    display: flex;  
    height: 180px;
    width: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#team-photo-text {
    color: #ffffff;
    display: flex;  
    font-size: large;
    height: 70px;
    width: 250px;
    background-color: #385783;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
