<html>
    <head>
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/choose_team_style.css') }}">
        <title>Syntactic_Sugar</title>
    </head>
    <body>
        <div id="root">
            <div id="app-width">
                <header>
                    <img id="header_logo" src="logo_header.png" alt="Goldman Sachs logo" > 
                </header>
                <main>
                    <div id="intro"><p style="align-content: center; font-size: x-large;">Choose team you want to learn more about.<br> Solve quizes, riddles and skill up!</p>
                    </div>
                    <div id="photo-gallery">
                        <div id="photo-row">
                            <div class="team-photo">
                                <img id="team-img" src="quantitive_strategies.jpg" alt="Quantitive strategies" >
                                <div id="team-photo-text">
                                    <p>Quantitive strategies</p>
                                </div>
                            </div>
                            <div class="team-photo">
                                <img id="team-img" src="cybersecurity.jpeg" alt="Cyber security" >
                                <div id="team-photo-text">
                                    <p>Cyber Security</p>
                                </div>
                            </div>
                            <div class="team-photo">
                                <img id="team-img" src="datascience.webp" alt="Data science" >
                                <div id="team-photo-text">
                                    <p>Data analyst</p>
                                </div>
                            </div>
                        </div>
                        <div id="photo-row">
                            <div class="team-photo">
                                <img id="team-img" src="finance.jpeg" alt="Finance" >
                                <div id="team-photo-text">
                                    <p>Finance</p>
                                </div>
                            </div>
                            <div class="team-photo">
                                <img id="team-img" src="engineering-team.jpg" alt="Systems engineering" >
                                <div id="team-photo-text">
                                    <p>Systems Engineering</p>
                                </div>
                            </div>
                            <div class="team-photo">
                                <img id="team-img" src="software-engineers.webp" alt="Software engineer" >
                                <div id="team-photo-text">
                                    <p>Software engineering</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
