<html>
    <head>
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <title>Syntactic_Sugar</title>
    </head>
    <body>
        <div id="root">
            <header class="sticky">
                <a href={{ url_for('test1') }} class="logo">Nav 1</a>
                <a href={{ url_for('test2') }} class="button">Nav 2</a>
            </header>
            <main>
                <div class="card fluid">
                    <h2> Goldman Sachs </h2>
                    <h3> Sample Text </h3> 
                    <p> 
                        Print passed variable: {{sample_text}}     
                    </p>
                </div>

                <div class="card fluid">
                    <figure>
                        <img src="{{url_for('static', filename='goldman.png')}}"" alt="goldman_logo"/>
                    </figure>
                </div>
            </main>

            <footer class="sticky">
                <p>Syntactic_Sugar</p>
            </footer>
        </div>
    </body>
</html>
