<html>
    <head>
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">
        <title>Syntactic_Sugar</title>
    </head>
    <body>
        <div id="root">
            <div id="app-width">
                <header>
                    <img id="header_logo" src="logo_header.png" alt="Goldman Sachs logo" > 
                </header>
                <main>
                    <h1> Current Leaderboard: </h1>
                    <h3> Top 5 people at 2pm will get a Backpack, next 5 - Headphones </h3>
                    
                    <img id="leaderboard-img" src="leaderboard.png" alt="leaderboard" style="height: 80%; width: 80%">
                </main>
            </div>
        </div>
    </body>
</html>
