<html>
    <head>
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general_style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/team_content_style.css') }}">
        <title>Syntactic_Sugar</title>
    </head>
    <body>
        <div id="root">
            <div id="app-width">
                <header>
                    <img id="header_logo" src="{{url_for('static', filename='goldman.png')}}"" alt="Goldman Sachs logo" > 
                </header>
                <main>
                    <div id="quizzes" class="sidenav">
                        <a href="#">Quiz 1</a>
                        <a href="#">Quiz 2</a>
                        <a href="#">Quiz 3</a>
                        <a href="#">Quiz 4</a>
                      </div>

                    <div class="gallery">
                            <div class="photo">
                                <img class="img" src="stock-market.jpg" alt="Stock market" >
                                <p class="photo-text">Game 1</p>
                            </div>
                            <div class="photo">
                                <img class="img" src="stock-market.jpg" alt="Stock market" >
                                <p class="photo-text">Game 1</p>
                            </div>
                            <div class="photo">
                                <img class="img" src="stock-market.jpg" alt="Stock market" >
                                <p class="photo-text">Game 1</p>
                            </div>
                            <div class="photo">
                                <img class="img" src="stock-market.jpg" alt="Stock market" >
                                <p class="photo-text">Game 1</p>
                            </div>
                            <div class="photo">
                                <img class="img" src="stock-market.jpg" alt="Stock market" >
                                <p class="photo-text">Game 1</p>
                            </div>
                            <div class="photo">
                                <img class="img" src="stock-market.jpg" alt="Stock market" >
                                <p class="photo-text">Game 1</p>
                            </div>
                            <div class="photo">
                                <img class="img" src="stock-market.jpg" alt="Stock market" >
                                <p class="photo-text">Game 1</p>
                            </div>
                            <div class="photo">
                                <img class="img" src="stock-market.jpg" alt="Stock market" >
                                <p class="photo-text">Game 1</p>
                            </div>
                            <div class="photo">
                                <img class="img" src="stock-market.jpg" alt="Stock market" >
                                <p class="photo-text">Game 1</p>
                            </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html> 