<html>
    <head>
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome_page_style.css') }}">
        <title>Syntactic_Sugar</title>
    </head>
    <body>
        <div id="root">
            <div id="app-width">
                <header>
                    <div id="Score">
                        <p>GoldPoints: 0</p>
                    </div>
                    <img id="header_logo" src="logo_header.png" alt="Goldman Sachs logo" > 
                </header>
                <main>
                    <div id="welcome-text">
                        Test yourself! Which one of our teams matches your skills?
                    </div>

                    <div id="teaser_photos">
                        <div class="teaser-photo">
                            <img id="teaser-img" src="stock-market.jpg" alt="Stock market" >
                            <div id="teaser-photo-text" >Data analyst</div>
                        </div>
                        <div class="teaser-photo">
                            <img id="teaser-img" src="cloud.jpg" alt="Cloud computing" >
                            <div id="teaser-photo-text" >Big data</div>
                        </div>
                        <div class="teaser-photo">
                            <img id="teaser-img" src="hacker.jpg" alt="Hacker" >
                            <div id="teaser-photo-text">Security</div>
                        </div>
                    </div>
                </main>

                <div id="token">
                <div id="enter-token">
                        <div id="enter-token-text">Use your token or enter id to enter the game:<div>
                        <form>
                            <input type="text" id="user-id" name="user-id" placeholder="Enter your user id"><br>                    
                        </form>     
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
